@import "tailwindcss";

@theme {
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-brand-yellow: var(--brand-yellow);
  --color-brand-green: var(--brand-green);
  --color-brand-blue: var(--brand-blue);
  --color-brand-white: var(--brand-white);
}

@layer base {
  :root {
    --primary: #f42c37;
    --secondary: #f42c37;
    --brand-yellow: #fdc62e;
    --brand-green: #2dcc6f;
    --brand-blue: #1376f4;
    --brand-white: #eeeeee;
  }

  .dark {
    --primary: #f42c37;
    --secondary: #f42c37;
    --brand-yellow: #fdc62e;
    --brand-green: #2dcc6f;
    --brand-blue: #1376f4;
    --brand-white: #eeeeee;
  }
}
